<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsCaster.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFF34B2A2A325B8300BAAE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF34B432A325B8400BAAE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF34B4D2A325B8500BAAE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
